html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}
#root {
  width: 80vw;
  height: 100vh;
  margin: auto;
  background-color: black;
  text-align: center;
}
.page-heading {
  padding: 2vw;
  margin: 0px;
  font-size: 3vw;
  color: white;
}
#time-heading {
  font-size: 4vw;
  color: white;
}
.timer-button {
  border-style: none;
  font-size: 1vw;
  padding: 1vw;
  margin: 1vw;
}
